@font-face {
    font-family: "mandatory18";
    font-weight: 400;
    src: url("fonts/Mandatory18.woff2") format("woff2");
}
@font-face {
    font-family: "mandatory17";
    font-weight: 500;
    src: url("fonts/Mandatory17.woff2") format("woff2");
}
@font-face {
    font-family: "FrankRuhlLibre-Bold";
    font-weight: 500;
    src: url("fonts/FrankRuhlLibre-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "FrankRuhlLibre-Regular";
    font-weight: 400;
    src: url("fonts/FrankRuhlLibre-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "Academy Engraved LET Plain";
    font-weight: 400;
    src: url("fonts/Academy Engraved LET Plain.woff2") format("woff2");
}
* {
    box-sizing: border-box;
    }
body {
    background-color: #2d3532;
    /* max-width: 500PX; */

    /* overflow-x: hidden; */
}
article {
    margin: 8.75%;
}
header{
    background-image: url("images/line.png");
    background-repeat: no-repeat;
    background-size: 6vw;
    background-position: 16.7vw 16vw
}
h1 {
    font-family: "Mandatory18","ariel", sans-serif;
    font-size: 16vw;
    font-weight: 400;
    color: #fdfae2;
    letter-spacing: 0.15em;
    margin: 0px;
    white-space: nowrap;
}
h2 {
    display: block;
    font-family: "Mandatory17","ariel", sans-serif;
    font-size: 2vw;
    font-weight: 400;
    color: #fdfae2;
    letter-spacing: 0.40em;
    line-height: 1.4em;
}

h2.sub-title {
    position: absolute;
    right: 78%;
    top: 52%;
}
.alef {
    letter-spacing: 0;
}
.maintitle {
    position: relative;
}
.background {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 1.8%;
    background-size: auto;
    max-width: 100%;
    pointer-events: none;
}
.samech {
    height: 0.7em;
    margin-right: .15em;
}
.intro {
    position: relative;
}
.introtext {
    font-family: "FrankRuhlLibre-Bold","ariel", serif;
    font-size: 1.4em;
    font-weight: 500;
    color: #fdfae2;
    letter-spacing: 0.20em;
    line-height: 2.15em;
    margin-bottom: 30%;
}
.quote {
    font-family: "FrankRuhlLibre-Regular","ariel", serif;
    font-size: 1.2em;
    font-weight: 400;
    color: #dda15e;
    letter-spacing: 0.20em;  
    text-align: center; 
    line-height: 2em;
    position: absolute;
    white-space: nowrap;
    right: 49%;
    top: 52%;
}
.text {
    font-family: "FrankRuhlLibre-Regular","ariel", serif;
    font-size: 1.3em;
    font-weight: 400;
    color: #fdfae2;
    letter-spacing: 0.18em;
    line-height: 2.5em;
    opacity: 80%;
}
.visual1{
    width: 30vw;
    padding-left: 5%;
    align-content: normal;
    background-image: url("images/circle.png");
    background-repeat: no-repeat;
    background-size: 4.5vw;
    background-position: -1.35vw 0vw;
}
.hdescription {
    font-family: "FrankRuhlLibre-Regular","ariel", serif;
    margin-right: 4vw;
    color: #dda15e;
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 0.10em;
    line-height: 1.8em;  
}
.edescription {
    font-family: "Academy Engraved LET Plain","ariel", serif;
    color: #dda15e;
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 0.10em;
    line-height: 1.8em;
}
.d_heinrich {
    /* position: absolute; */
    /* right: 12.8%; */
}
.maintitle {
    display: flex;
}
.heinrich {
    max-width: 100%;
    border: solid 2px #dda15e;
}
.part1 {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    background-image: url("images/line_2.png");
    background-repeat: no-repeat;
    background-size: 6vw;
    background-position: 55vw 4vw
}
.text1 {
    width: 70vw;
    padding-top: 20%;
    padding-right: 2%;
    padding-left: 8vw;
}
.empiremap {
    max-width: 100%;
    border: solid 2px #dda15e;
}
.visual2 {
    position: relative;
    width: 55vw;
    margin-left: 5%;
    float: left;
    margin-right: 40px;       
}
.text2 { 
        padding-top: 200px;
        width: 50vw;
        margin-left: 2%;
}
.part2 {
       flex-direction: row; 
       margin-top: 180px;
       padding-top: 2.5vw;
       background-image: url("images/circle.png");
       background-repeat: no-repeat;
       background-size: 4.5vw;
       background-position: -0.85vw 0vw;
}
.title2 {
    position: absolute;
    left: 37vw;
    bottom: 0.5vw;
}
.visual5 {
    display: flex;
    flex-direction: row-reverse;
    overflow: auto;
}
.visual5 img {
    height: 300px;
}
.atalantaplay {
    margin-top: 15vw;
}
.image_wrap1 {
    margin-top: 2.5vw;
}
.image_wrap2 {
       background-image: url("images/line_3.png");
       background-repeat: no-repeat;
       background-size: 6vw;
       background-position: -1.7vw 1.5vw;
}
.walldrawing {
    margin-right: 4vw;
    max-width: 68%;
    border: solid 2px #dda15e;
}
.part3 {
    margin-top: 9vw;
    background-image: url("images/circle.png");
    background-repeat: no-repeat;
    background-size: 4.5vw;
    background-position: 78.5vw 19vw;
}
.title3 {
    position: relative;
    left: -35vw;
    top: 2.8vw;
}
.image_wrap3 {
    background-image: url("images/line_3.png");
    background-repeat: no-repeat;
    background-size: 6vw;
    background-position: 77.70vw 23vw; 
}
.part4{
    background-image: url("images/line_4.png");
    background-repeat: no-repeat;
    background-size: 6vw;
    background-position: 48.7vw 33vw;
}
.text4{
    width: 60vw;
}
.visual4 {
    width: 40vw;
    margin-top: 54vw;
}
.title4 {
    padding-top: 8vw;
}
.atlas {
    max-width: 80%;
    border: solid 2px #dda15e;
}
.d_atlas {
    padding-left: 6.4vw;
}
.wrap_part4 {
    display: flex;
    flex-direction: row;
    background-image: url("images/circle.png");
    background-repeat: no-repeat;
    background-size: 4.5vw;
    background-position: 49.5vw 28.5vw;
}