style.css
@font-face {
    font-family: "mandatory18";
    font weight: 400px;
    src: url("fonts/Mandatory18.woff2") format("woff2");
}
@font-face {
    font-family: "mandatory17";
    font weight: 500px;
    src: url("fonts/Mandatory17.woff2") format("woff2");
}
@font-face {
    font-family: "FrankRuhlLibre-Bold";
    font weight: 500px;
    src: url("fonts/FrankRuhlLibre-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "FrankRuhlLibre-Regular";
    font weight: 400px;
    src: url("fonts/FrankRuhlLibre-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "Academy Engraved LET Plain";
    font weight: 400px;
    src: url("fonts/Academy Engraved LET Plain.woff2") format("woff2");
}
* {
    box-sizing: border-box;
    }
body {
    background-color: #2d3532;
    /* max-width: 500PX; */

    /* overflow-x: hidden; */
}
article {
    margin: 8.75%;
}
h1 {
    font-family: "Mandatory18","ariel", sans-serif;
    font-size: 16vw;
    font-weight: 400;
    color: #fdfae2;
    letter-spacing: 0.15em;
    margin: 0px;
    white-space: nowrap;
}
h2 {
    display: block;
    font-family: "Mandatory17","ariel", sans-serif;
    font-size: 2vw;
    font-weight: 400;
    color: #fdfae2;
    letter-spacing: 0.40em;
    line-height: 1.4em;
}

h2.sub-title {
    position: absolute;
    right: 78%;
    top: 52%;
}
.alef {
    letter-spacing: 0;
}
.maintitle {
    position: relative;
}
.background {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 1.8%;
    background-size: auto;
    max-width: 100%;
    pointer-events: none;
}
.samech {
    height: 0.7em;
    margin-right: .15em;
}
.intro {
    position: relative;
}
.introtext {
    font-family: "FrankRuhlLibre-Bold","ariel", serif;
    font-size: 1.4em;
    font-weight: 500;
    color: #fdfae2;
    letter-spacing: 0.20em;
    line-height: 2.15em;
    margin-bottom: 30%;
}
.quote {
    font-family: "FrankRuhlLibre-Regular","ariel", serif;
    font-size: 1.2em;
    font-weight: 400;
    color: #dda15e;
    letter-spacing: 0.20em;  
    text-align: center; 
    line-height: 2em;
    position: absolute;
    white-space: nowrap;
    right: 49%;
    top: 52%;
}
.text {
    font-family: "FrankRuhlLibre-Regular","ariel", serif;
    font-size: 1.2em;
    font-weight: 400;
    color: #fdfae2;
    letter-spacing: 0.20em;
    line-height: 2.2em;
}
.visual1{
    width: 20vw;
    align-content: normal;
}
.edescription {
    font-family: "Academy Engraved LET Plain","ariel", serif;
    color: #dda15e;
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 0.10em;
    line-height: 1.8em;
}
.d_heinrich {
    position: absolute;
    right: 12.8%;
}
.maintitle {
    display: flex;
}
.heinrich {
    max-width: 60%;
    border: solid 2px #dda15e;
}
.part1 {
    /* position: relative; */
    display: flex;
    flex-direction: row;
}
.text1 {
    width: 80vw;
}